<html>
  <head></head>
  <body>
    <h3>Enter rolls for your frame:<h3>
    <form action="/scorecard" method="POST">
      <label for="roll1">Roll one:</label>
      <input type="int" name="roll1"><br>
      <label for="roll2">Roll two:</label>
      <input type="int" name="roll2">
      <input type="submit" value="Enter frame!">
    </form><br>
  <body>
</html>