<html>
  <head></head>
  <body>
    <h3>Enter rolls for your frame:<h3>
    <form action="/scorecard" method="POST">
      <label for="roll1">Roll one:</label>
      <input type="int" name="roll1"><br>

      <label for="roll2">Roll two:</label>
      <input type="int" name="roll2">

      <label for="roll3">Roll three (if final frame):</label>
      <input type="int" name="roll3"><br>

      <input type="submit" value="Enter frame!">
    </form><br>

    <% @frames.each_with_index do |frame, i| %>
      <p>Frame <%= i + 1 %>: <%= frame.rolls[0] %>, <%= frame.rolls[1] %></p>
      <p>Score: <%= @game.total_up_to(i) %></p>
      <br><br>
    <% end %>

  </body>
</html>